body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(41, 40, 40);
    color: rgb(179, 179, 179);
}

div.banner
{
    display: block;
    background-color: darkgreen;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 1.5%;
    border-radius: 20px;
}

div.banner h1
{
    padding-left: 10%;
    color: rgb(192, 192, 192);
}

div.caja
{
    background-color: rgba(8, 138, 30, 0.185);
    display: block;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 4%;
    border-radius: 20px;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
}

div.linea
{
    display: flex;
    justify-content: space-between;
}

div.lista-busqueda
{
    display: flex;
    align-items: center;
}

div.lista-busqueda input.busqueda
{
    height: 20px;
    background-color: rgba(146, 245, 146, 0.219);
    border-radius: 7px;
    color: rgb(179, 179, 179);
}

div.lista-busqueda button.busqueda, button.volver
{
    margin-top: 2px;
    margin-left: 7px;
    height: 25px;
    background-color: rgba(146, 245, 146, 0.219);
    border-radius: 7px;
    color: rgb(179, 179, 179);
}

button.put
{
    height: 25px;
    background-color: rgba(226, 207, 98, 0.801);
    border-radius: 7px;
    color: rgb(0, 0, 0);
}

button.delete
{
    height: 25px;
    background-color: rgba(245, 146, 146, 0.774);
    border-radius: 7px;
    color: rgb(0, 0, 0);
}

h2
{
    display: flex;
    color: rgb(172, 171, 171);
    padding-right: 18px;
}


button.compras
{   
    margin-top: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 130px;
    height: 45px;
    vertical-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button.agregar
{
    background-color: rgb(92, 169, 241);
}
button.agregar:hover
{
    box-shadow: 0px 0px 6px rgb(92, 169, 241);
}


button.cancelar
{
    background-color: rgb(250, 140, 140);
}
button.cancelar:hover
{
    box-shadow: 0px 0px 7px rgb(219, 53, 31);
}

div.agregando, div.bloque-compras, div.lista-cargada, div.editando
{
    display: block;
    background-color: rgba(146, 245, 146, 0.13);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 20px;
}

div.bloque-datos
{
    display: flex;
    justify-content: space-around;
}

input, select
{
    background-color: rgba(158, 238, 158, 0.815);
}

button.submitCompra
{
    margin-top: 25px;
    border-radius: 7px;
    padding: 5px;
    background-color: rgb(92, 169, 241);
}

button.submitCambios
{
    margin-top: 25px;
    border-radius: 7px;
    padding: 5px;
    background-color: rgba(226, 207, 98, 0.801);
}

button.cancelarCambios
{
    margin-top: 25px;
    border-radius: 7px;
    padding: 5px;
    background-color: rgb(250, 140, 140);
}

button.submitCompra:hover, button.submitCambios:hover
{
    box-shadow: 0px 0px 6px rgb(92, 169, 241);
}

div.boton
{
    display: flex;
    justify-content: flex-end;
}

.reducir-fuente
{
    font-size: small;
}

div.lista-cargada
{
    margin-top: 3%;
}

table.compras
{
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #00171F;
    margin-left: 20px;
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}
 
table.compras td
{
    border: 1px solid #00171F;
    padding: 5px;
    text-align: center;
    background-color: rgba(80, 184, 80, 0.103);
}
 
table.compras thead
{
    border: 1px solid #00171F;
    background-color: #023a00;
    font-weight: 700;
    letter-spacing: 1px;
}



















